body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-wrap {
  display: flex;
  flex-grow: 1;
}

.div-information {
  padding: 70px 50px 0 70px;
}

.summary-subject {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.line {
  height: 60px;
  width: 3px;
  background: #29abe2;
  border-radius: 2.5px;
}

.good-morning-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2a3647;
  font-size: 3rem;
  font-weight: 500;

  h1 {
    color: #29abe2;
  }
}

.line-h {
  width: 120px;
  height: 3px;
  border-radius: 1.5px;
  background: #29abe2;
  margin-top: 20px;
  display: none;
}
/* Square */

.information {
  height: 520px;
  width: 520px;
  /* Square layout mostly responsive to height and width of the .information container */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5%;
}

.infobox {
  background: white;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 10px -2px #2b2b2b13;
  box-shadow: 0px 0px 10px -2px #2b2b2b13;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgb(241, 241, 241);
}

.infobox:hover {
  background: #2a3647;
  scale: 1.08;
  color: white;

  span {
    color: white;
  }
}

.box-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;

  &:hover .circle {
    background: white;
  }

  &:hover #edit-icon {
    fill: #2a3647;
    width: 30px;
    height: 30px;
  }

  &:hover #checkmark-icon {
    stroke: #2a3647;
    width: 30px;
    height: 30px;
  }

  &:hover .info {
    color: white;

    span {
      color: white;
    }
  }

  .circle {
    padding: 15px;
    background: #2a3647;
    border-radius: 50%;
  }

  #edit-icon {
    fill: white;
    width: 28px;
    height: 28px;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #2a3647;
  }

  .info span {
    font-size: 3.5rem;
    font-weight: 600;
    color: black;
  }

  #checkmark-icon {
    height: 30px;
    width: 30px;
    transform: translateY(3px);
    stroke: white;
  }
}

.box-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #2a3647;
  gap: 10%;

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #2a3647;
    margin-left: -5%;
  }

  &:hover .info {
    color: white;

    span {
      color: white;
    }
  }

  .info span {
    font-size: 3.5rem;
    font-weight: 600;
    color: black;
  }

  .line-urgent {
    height: 60%;
    width: 2px;
    background-color: #d6d6d6;
  }

  .date {
    display: flex;
    flex-direction: column;
    text-align: start;
    height: 100%;
    justify-content: center;
    font-size: 0.8rem;
    gap: 10%;

    span {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}

.box-3 {
  height: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #2a3647;

  span {
    font-size: 3.5rem;
    font-weight: 600;
    color: black;
  }
}

@media (max-width: 1290px) {
  .good-morning-text {
    display: none;
  }
}

@media (max-width: 950px) {
  .summary-subject {
    flex-direction: column;
    align-items: flex-start;
    gap: inherit;
  }

  .line {
    display: none;
  }

  .box-1 .info span {
    font-size: 3rem;
  }

  .box-2 .info span {
    font-size: 3rem;
  }

  .box-3 span {
    font-size: 3rem;
  }

  .box-1 .circle {
    padding: 10px;
  }

  .line-h {
    display: block;
  }
}

@media (max-width: 900px) {
  .information {
    height: 420px;
    width: 420px;
  }

  .box-1 .info span {
    font-size: 2.5rem;
  }

  .box-2 .info span {
    font-size: 2.5rem;
  }

  .box-3 span {
    font-size: 2.5rem;
  }

  #urgent-icon {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 790px) {
  .information {
    height: 360px;
    width: 360px;
  }

  .box-1 .info span {
    font-size: 2rem;
  }

  .box-2 .info span {
    font-size: 2rem;
  }

  .box-3 span {
    font-size: 2rem;
  }

  .box-1,
  .box-2,
  .box-3 {
    font-size: 0.8rem;
  }

  .box-2 {
    gap: 7%;
  }
}

@media (max-width: 720px) {
  .information {
    height: 310px;
    width: 310px;
  }

  .box-2 {
    gap: 5%;
  }

  #urgent-icon {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 670px) {
  .information {
    height: 440px;
    width: 440px;
  }

  .box-1,
  .box-2,
  .box-3 {
    font-size: 1rem;
  }

  .box-2 {
    gap: 10%;
  }

  #urgent-icon {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 560px) {
  .information {
    height: 340px;
    width: 340px;
  }

  .box-1,
  .box-2,
  .box-3 {
    font-size: 0.8rem;
  }
  .box-2 {
    gap: 7%;
  }

  #urgent-icon {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 460px) {
  .div-information {
    width: 100%;
    padding: 30px;
  }

  .information {
    height: inherit;
    width: 100%;
    aspect-ratio: 1 / 1;
  }
  .box-2 {
    gap: 8%;
  }

  #urgent-icon {
    height: 35px;
    width: 35px;
  }
  .box-1 #checkmark-icon {
    height: 20px;
    width: 20px;
  }

  .box-1 #edit-icon {
    height: 20px;
    width: 20px;
  }

  .summary-subject h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
}
