body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-wrap {
  display: flex;
  flex-grow: 1;
}

.div-information {
  padding: 100px;
}

.summary-subject {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.5rem;
}

.line {
  height: 100px;
  width: 5px;
  color: red;
}

.good-morning-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2a3647;
  font-size: 3rem;
  font-weight: 500;
}

.good-morning-text h1 {
  color: #29abe2;
}

/* Quadrat */

.information {
}

.row {
  display: flex;
  gap: 30px;
}

.infobox-1 {
  height: 160px;
  aspect-ratio: 1.5 / 1;
  background: white;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 10px -2px #2b2b2b13;
  box-shadow: 0px 0px 10px -2px #2b2b2b13;
}
