@media only screen and (max-width: 500px) {
    .main-addTask, form {
       flex-direction: column;
       min-height: 60vh;
       max-height: 100vh;
       gap: 4rem;
       width: 100%;
    }

    .main-addTask::-webkit-scrollbar {
       display: none;
     }

     .main-addTask {
       overflow-y: auto;
       scrollbar-width: none;
     }

    .h1-addTask {
        font-size: 3rem;
        display: block;
        line-height: normal;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: 0 !important;
    }

    #addTask-wrap {
        padding: 10px;
        flex-grow: 1;
        max-height: 100vh;
    }

    .text {
     display: none;
    }

    input, .assignment-container, .assignment-btn, .dropdown-btn, #category-container, .subtask-input-wrapper {
        min-width: 300px !important;
        width: 100% !important;
        height: 32px;
    }

    textarea, .button-container, #contacts-container, .dropdown-options {
        min-width: 300px !important;
        width: 100% !important;
    }

    label, .assignment-btn, .dropdown-btn, .dropdown-options {
        font-size: 14px;
    }

    .right-container, .left-container {
        padding: 0;
        height: 40%;
        justify-content: center;
        width: 100%;
    }

    .footer {
        justify-content: end;
     
    }

    .btn-div-footer {
        gap: 24px;
        
    }

   ::placeholder {
        font-size: 14px;
   }

   #task-name {
        padding: 8px !important;
   }

   #due-date[data-placeholder] {
        font-size: 14px !important;
   }

   #urgent, #medium, #low {
        min-width: 90px;
        width: 100%;
        height: 32px;
        font-size: 14px;
   }

   .btn-switch > img {
        width: 12px;
        height: 10px;
   }

   .contact-item {
        overflow-x: hidden;
        white-space: nowrap;
        gap: 10px;
        width: 100%;
   }

   .contact-item > .contact-name {
        width: 60%;
   }

   .contact-name {
        font-size: 14px;
        flex-grow: 1;
   }

   .avatar {
        width: 20px;
        height: 18px;
        margin: 0 !important;
   }

   .contact-checkbox {
        width: 20% !important;
        outline: none !important;
   }

   #contacts-container {
        padding: 0;
   }

   .contact-checkbox:focus {
        box-shadow: none;
   }

   #selected-contacts-container {
        padding-top: 4px;
   }

   #selected-contacts-container > div {
        margin-right: 2px !important;
   }

   #category-container, .subtask-input-wrapper, .error-message {
     opacity: 0;
     transform: translateY(20px);
     transition: opacity 0.3s ease, transform 0.3s ease;
   }

  .main-addTask.scrolled #category-container,
  .main-addTask.scrolled .subtask-input-wrapper,
  .main-addTask.scrolled .error-message {
     opacity: 1;
     transform: translateY(0);
  }


}

@media only screen and (max-width: 768px) {
    
}