@import url('addTask.comps.css');

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}

#addTask-wrap {
    height: 80vh;
    padding: 100px 0 0 100px;
    overflow: hidden;
}

.required {
    color: #FF8190;
    margin-left: -5px;
    margin-top: 20px;
    font-size: 18px;
}

.main-addTask {
    max-width: 900px;
}

.main-addTask form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
    max-width: 900px;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 300px;
    width: 50%;
    flex: 1;
    box-sizing: border-box;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 97px;
    min-width: 300px;
    width: 50%;
    flex: 1;
}

.h1-addTask {
    margin-bottom: 16px !important;
    font-weight: 700;
    margin-block-end: 0;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #2A3647;
    line-height: normal;
}

input, textarea {
    box-sizing: border-box;
    width: 400px;
    height: 42px;
    border: 1px solid #D7D7D7;
    font-family: inherit;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    padding-left: 16px !important;
    transition: var(--transition);
}

textarea {
    height: 100px;
    overflow-y: auto;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 8px;
    padding-bottom: 8px;;
}

select {
    box-sizing: border-box;
    padding-left: 16px !important;
    width: 400px;
    height: 42px;
    border: 1px solid #D7D7D7;
    font-family: inherit;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#urgent, 
#medium,
#low {
    width: 140px;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid #D7D7D7;
    font-family: inherit;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 300;
    background-color: white;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 900px;
    align-self: flex-end;
}

.text {
    font-size: 16px;
    padding-top: 24px;
}

.clear-icon {
    margin-left: 4px;
    color: #2A3647;
}

.clear-icon > svg {
    stroke: #2A3647;
}

.dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 400px;
    height: 90px;
    z-index: 1;
    
    background-color: white;
    text-align: left;
    box-sizing: border-box;
    font-family: inherit;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    margin: 0;
    list-style: none;
}

.dropdown-container, .subtask-container{
    position: relative;
    width: 400px;
    height: 42px;
}

.subtask-input-wrapper {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 8px;
}

.subtask-container input {
    flex-grow: 1;
    width: 90%;
    box-sizing: border-box;
    box-shadow: 0 0 7px var(--light-blue);
}

.subtask-action {
    position: absolute;
    right: 12px;
    display: flex;
    gap: 4px;
}

.subtask-action img {
    width: 18px;
    height: auto;
    cursor: pointer;
}

.add-subtask-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: auto;
    cursor: pointer;
}

#subtask-list { 
    margin: 0;
}

.subtask-text {
    flex: 1;
    padding-left: 16px;
}

.li-actions {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-right: 16px;
}

.clear-icon, .checkmark-icon, .edit-icon, .delete-icon {
    width: 14px;
    height: 14px;
    cursor: pointer;
}

#dropdown-icon {
    width: 8px;
    height: auto;
}

.dropdown-options > li {
    display: block;
    padding-left: 16px !important;
    padding: 8px;
}

#subtasks {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

ul {
    padding-inline-start: 0;
    width: 400px;
}

.divider, .divider1 {
    width: 2px;
    height: 16px;
    background-color: #D7D7D7;
    margin: 0 1px;
    color: black;
}

.subtask-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 24px;
    padding: 2px 0px;
    padding-left: 0 !important;
    cursor: pointer;
    font-size: 14px;
    box-sizing: border-box;
}
  
.subtask-item .li-actions {
    display: none;
}
  
.edit-input {
    width: 100%;
    height: 24px;
    flex-grow: 1;
    height: 24px;
    border: none;
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0; 
    padding-left: 24px !important;
    cursor: pointer;
    box-shadow: 0px 2px 4px -2px var(--light-blue) !important;
    margin-bottom: 0 !important;
    border-radius: 0    ;
}

.subtask-actions {
    display: flex;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    gap: 4px;
}

#contacts-container {
    padding: 10px;
    width: 400px;
    height: 200px;
    border: 1px solid #ccc;
    background: white;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    border:#ccc;
    border-radius: 8px;
    box-sizing: border-box;
    overflow-y: scroll; 
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 8px;
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    padding: 4px;
    margin: 4px !important; 
    font-family: inherit;
    font-weight: 400;
    font-size: 10px;
}

.contact-checkbox {
    margin: 0 !important;
    width: 16px;
    height: 16px;
}

#confirm-selection {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width: 100%;
}

.assignment-container{
    position: relative;  
}

.contact-name {
    margin-right: auto;
    font-family: inherit;
    font-size: 16px;
    flex-grow: 0;
}

.icon-container {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}



