.required {
    color: #FF8190;
    margin-left: -7px;
    margin-top: 20px;
    font-size: 20px;
}

body {
    background-color: #F6F7F8;
}

main {
    display: flex;
    flex-direction: row;  
    height: 50vh;
    width: 800px;
    margin-left: 200px;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.right-container {
    width: 50%;
    margin-left: 30px;
}

.separator {
    width: 1px;
    height: 300px;
    background-color: #d1d1d1;
}

h1 {
    margin-left: 200px !important;
    margin-top: 100px !important;
    font-weight: 700;
    margin-block-end: 0;
}

label {
    display: block;
    margin-bottom: 4px;
    font-size: 16px;
    color: #2A3647;
    line-height: normal;
    letter-spacing: 0.7px;
}

input, textarea{
    box-sizing: border-box;
    margin-bottom: 34px;
    width: 90%;
    border: 1px solid #D7D7D7;
    font-family: inherit;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

input::placeholder, 
textarea::placeholder,
#due-date::placeholder {
    color: #D7D7D7;
    opacity: 1;
}

input:focus,
textarea:focus {
    outline: none;
}

input {
    padding: 7px;
    padding-left: 10px;
    border-width: 0.6px;
}

input[type="date"] {
   color:  #D7D7D7;
   font-family: "Inter", sans-serif;
}

textarea {
    height: 100px;
    overflow-y: auto;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 8px;
    padding-bottom: 8px;;
}

select {
    box-sizing: border-box;
    margin-bottom: 24px;
    width: 90%;
    border: 1px solid #D7D7D7;
    font-family: inherit;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

#urgent, 
#medium,
#low {
    width: 108px;
    height: 44px;
    box-sizing: border-box;
    margin-bottom: 24px;
    border: 1px solid #D7D7D7;
    font-family: inherit;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 300;
    background-color: white;
    cursor: pointer;
}

.button-container {
    display: flex;
    gap: 12px;
}

button > img {
    width: 16px;
    height: 12px;
    margin-left: 3px;
}

button:hover {
   box-shadow: -1px 2px 0 rgba(0, 0, 0, 0.1),  /* Slight shadow on the left */
                1px 2px 0 rgba(0, 0, 0, 0.1),   /* Slight shadow on the right */
                0px 4px 2px rgba(0, 0, 0, 0.1);   /* Subtle bottom shadow */
}

button.active:hover {
    box-shadow: none;
}