.subtask-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 8px;
}

.subtask-container input {
    flex-grow: 1;
    width: 90%;
    box-sizing: border-box;
    box-shadow: 0 0 7px var(--light-blue);
}

.subtask-action {
    position: absolute;
    right: 12px;
    display: flex;
    gap: 4px;
}

.subtask-action img {
    width: 18px;
    height: auto;
    cursor: pointer;
}

.add-subtask-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: auto;
    cursor: pointer;
}

#subtask-list {
    margin: 0;
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
}

#subtasks {
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 70px;
}

.subtask-text {
    flex: 1;
    padding-left: 16px;
    height: auto;
}

.li-actions {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-right: 16px;
}

.clear-icon,
.checkmark-icon,
.edit-icon,
.delete-icon {
    width: 14px;
    height: 14px;
    cursor: pointer;
}

#subtasks {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

ul {
    padding-inline-start: 0;
    width: 400px;
}

.divider,
.divider1 {
    width: 2px;
    height: 16px;
    background-color: #D7D7D7;
    margin: 0 1px;
    color: black;
}

.subtask-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: auto;
    padding: 2px 0px;
    padding-left: 0 !important;
    cursor: pointer;
    font-size: 14px;
    box-sizing: border-box;
}

.subtask-item .li-actions {
    display: none;
}

.edit-input {
    width: 100%;
    height: 24px;
    flex-grow: 1;
    height: 24px;
    border: none;
    border-bottom: 1px solid var(--light-blue);
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-left: 24px !important;
    padding-right: 70px;
    cursor: pointer;
    box-shadow: 0px 2px 4px -2px var(--light-blue) !important;
    margin-bottom: 0 !important;
    border-radius: 0;
}

.subtask-actions {
    display: flex;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    gap: 4px;
}