.modal-addTask-container {
    padding: 30px;
}

.modal-addTask-container .left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 54%;
    box-sizing: border-box;
}

.modal-addTask-container .right-container {
    align-items: flex-start;
    width: 50%;
}

.modal-addTask-container .footer {
    min-width: 800px;
    max-width: 900px;
}

.modal-addTask-container .clear-btn {
    width: 100px;
    background-color: white !important;
}

input[type="date"] {
    color: black;
}

input[type="date"]::placeholder {
    color: #d7d7d7 !important;
}

.icon-container > img {
    width: 10px;
    height: auto;
}

.icon-container {
   margin-right: 4px;
}

.contact-item {
    padding: 8px 4px 8px 4px !important;
}

