@media (min-width: 670px) and (max-width: 960px) {
    .modal {
        padding: 0 !important;
        height: 88vh;
        width: 70vw;
        overflow-y: hidden;
    }

    #modal-body {
        height: 90vh;
        width: 100%;
        align-items: center;
        padding-left: 60px;
        padding-right: 60px;
    }

    #main-addTask {
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .close-btn {
        top: 30px;
    }

    .modal-addTask-container {
        padding: 10px;
        height: 83vh;
        display: flex;
        flex-direction: column;
    }

    .main-addTask form {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        height: 80vh;
        margin-bottom: 16px;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer/Edge */
    }

    .main-addTask form::-webkit-scrollbar {
        display: none;
    }

    .left-container, .right-container, .assignment-btn, .dropdown-container {
        width: 100%;
        padding: 0;;
    }

    .left-container{
        flex-shrink: 0;
    }

    .right-container {
        height: 100%;
    }

    .h1 {
        font-size: clamp(2rem, 5vw, 2.8rem);
        display: block;
        line-height: 1.2;
        padding-bottom: 30px !important;
        width: 200px;
        max-width: 90%;
        
    }

    .avatar {
        width: 30px;
        height: 30px;
    }


    textarea, .button-container, #contacts-container, #subtasks, .dropdown-options, #contacts-list, #subtask-list {
        min-width: 300px !important;
        width: 100% !important;
    }

    .assignment-btn, .dropdown-btn, .dropdown-options {
        font-size: 16px !important;
    }

    #footer {
        max-width: 400px;
        width: 100%;
        background: white;
    }
  
    .btn-div-footer {
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }

    #due-date {
        padding: 4px;
        font-size: 1rem;
    }

    .text {
        display: flex;
        align-items: flex-end;
        font-size: 14px;
        width: 46%;
        padding: 0;
    }

    .create-btn, .clear-btn {
        font-size: 14px !important;
    }

    #task-name,
    .assignment-container,
    .dropdown-container,
    .assignment-btn,
    #due-date, 
    .button-container,
    #urgent,
    #medium,
    #low,
    .dropdown-container,
    .dropdown-btn,
    .subtask-input-wrapper,
    #subtasks{
        height: 40px;
    }

    #description {
        height: 50px;
    }

    label {
        font-size: 14px;
    }

    #due-date,
    .button-container,
    .dropdown-containe,
    #task-name{
        margin-bottom: 16px;
    }

    #clear,
    #create {
        display: none;
    }
    
    .clear-btn,
    .create-btn {
        width: 60px !important;
        height: 40px;
    }
}
  
@media only screen and (max-width: 670px) {
    .modal {
        display: none;
    }
}


