.modal-addTask-container {
    padding: 30px;
}

.modal-addTask-container .left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 54%;
    box-sizing: border-box;
}

.modal-addTask-container .right-container {
    align-items: flex-start;
    width: 50%;
}

.modal-addTask-container .footer {
    min-width: 800px;
    max-width: 900px;
}

.modal-addTask-container .clear-btn {
    width: 100px;
    background-color: white !important;
}

.icon-container>img {
    width: 10px;
    height: auto;
}

.icon-container {
    margin-right: 4px;
}

.contact-item {
    padding: 8px 4px 8px 4px !important;
}

#subtask-list {
    width: 100%;
}

#due-date {
    color: #d7d7d7;
}

#due-date.has-value {
    color: black;
}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease, visibility 0.5s ease;
    display: none;
}

.modal-overlay.active {
    display: block;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(100%, -50%);
    background: white;
    padding: 20px;
    border-radius: 32px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    height: 85%;
    z-index: 1001;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.4s ease;
}

.modal.show {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.modal.hidden {
    display: none;
    transform: translate(100%, -50%);
    opacity: 0;
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 28px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    background: none;
}

.close-btn:hover,
.close-btn:focus {
    background-color: #F6F7F8;
    border-radius: 50%;
}

#modal-body,
.modal-addTask-container {
    height: 80vh;
    width: 100%;
}

.modal-addTask-container #task-added-popup {
    width: 300px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    font-size: 18px !important;
    font-weight: 300 !important;
    border-radius: 18px !important;
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: bottom 0.5s ease-out, opacity 0.5s ease-in-out;
}

.modal-addTask-container #task-added-popup.show {
    bottom: 50%;
    opacity: 1;
}

