* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.board-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
}

.board-wrap {
    padding: 70px 50px 0 70px;
    flex: 1;
    gap: 100px;
    height: calc(100vh - 100px);
    overflow: auto;
}

.h1-board {
    margin: 0;
    flex-shrink: 0;
    line-height: 1;
}

.header-part-search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    flex-shrink: 0;
}

.search-divider {
    position: absolute;
    width: 2px;
    right: 50px;
    height: 30px;
    background-color: #f6f7f8;
    display: flex;
    align-items: center;
}

#findTask {
    width: 260px !important;
}

#plus-white {
    padding-left: 10px;
}

.search-icon {
    position: absolute;
    right: 10px;
    padding: 8px;
}

.search-input-board {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.board-main {
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex: 1;
    margin-top: 30px;
}

.column {
    width: 25%;
    max-width: 400px;
    overflow: auto;
    scrollbar-width: none;
    position: relative;
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    position: sticky;
    top: 0;
    background-color: #f6f7f8;
}

.plus-button {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.h3-column {
    font-weight: 700;
    margin: 0;
}

.column-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 530px;
}

.task-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 24px; */
    min-width: 200px;
    max-width: 252px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 16px;
    cursor: pointer;
}

.task-category {
    color: white;
    background-color: blue;
    border-radius: 8px;
    width: fit-content;
    padding: 4px 16px;
    margin-bottom: 16px;
}

.task-description {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    color: #a8a8a8;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.subtask-bar {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.subtask-bar-progress {
    width: 126px;
    height: 8px;
    background-color: #f3f3f3;
    border-radius: 24px;
}

.subtask-bar-prog-blue {
    height: 100%;
    background-color: #4589ff;
    border-radius: 30px;
}

.subtask-checked {
    font-size: 12px;
    font-weight: 400;
}

.task-card-avatar {
    display: flex;

}

.avatar {
    width: 32px;
    height: 32px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    margin-left: -10px;
}

.task-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin-left: 10px;
}

.prio-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.task-title {
    font-weight: bold;
    margin-bottom: 8px;
}