.board-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
    max-width: 1200px;
}

.board-wrap {
    padding: 70px 50px 0 70px;
    flex: 1; 
    gap: 100px;
    width: 100%;
}

.h1-board {
    margin: 0;
    flex-shrink: 0;
    line-height: 1;
}

.header-part-search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    flex-shrink: 0;
    padding-right: 100px;
}

.search-divider {
    position: absolute;
    width: 2px;
    right: 50px;
    height: 30px;
    background-color: #f6f7f8;
    display: flex;
    align-items: center;
}

#findTask {
    width: 260px !important;
}

#plus-white {
    padding-left: 10px;
}

.search-icon {
    position: absolute;
    right: 10px;
    padding: 8px;
}

.search-input-board {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    display: block;
    z-index: 40;
    cursor: pointer;
}

.modal {
    display: block; 
    position: fixed;
    border-radius: 40px;
    top: 50%;
    left: 50%;
    transform: translate(100%, -50%);
    transition: transform 0.9s ease;
    width: 90%;
    height: 80vh;
    max-width: 1000px;
    max-height: 90vh;
    z-index: 41;
    background-color: white;
}

.modal.show {
    transform: translate(-50%, -50%);
    display: block;
}

#modal-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    max-height: 80vh;
    flex-wrap: wrap;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
    border: none;
    background: none;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.board-main {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    height: 65vh;
    flex: 1; 
}

.column {
    width: 25%;
    max-width: 400px;
    height: 65vh;
    padding: 20px 30px 0 0;
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

#plus-button {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.h3-column {
    font-weight: 700;
    margin: 0;
}

.task-card {
    min-width: 200px;
    height: 100%;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 25px;
    box-shadow: 0px 0px 10px -2px #2b2b2b13;
    margin-bottom: 8px;
    background: white;
    padding: 8px;
    cursor: pointer;
}

.task-category {
    color: white;
    background-color: blue;
    border-radius: 10px;
    width: 110px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    margin-top: 4px;
}

.task-card-avatar {
    display: flex;
    border-radius: 50%;
    width: 70%;
    height: 24px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
}

.task-card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.prio-icon {
    width: 12px;
    height: 12px;
    padding: 12px;
}

.task-title {
    font-weight: bold;
    margin-block-end: 0;
}