:root {
  --blue: #2a3647;
  --dark-blue: #091931;
  --light-blue: #29abe2;
  --urgent: #ff3d00;
  --medium: #f9a400;
  --low: #74d727;
  --grey: #cdcdcd;
  --transition: 125ms;
}

.btn-dark {
  background-color: var(--dark-blue);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: var(--transition);
  font-size: 1.2rem;
}

.btn-dark:hover {
  background-color: var(--light-blue);
  box-shadow: 0 0 5px var(--light-blue);
}

.btn-bright {
  background-color: white;
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  padding: 12px 20px;
  transition: var(--transition);
  font-size: 1.2rem;
}

.btn-bright:hover {
  color: var(--light-blue);
  border-color: var(--light-blue);
  box-shadow: 0 0 5px var(--light-blue);
}

.input-standard {
  width: 400px;
  border-radius: 8px;
  border: 1px solid #bdbdbd;
  padding: 12px 16px;
  transition: var(--transition);
  font-size: 1.2rem;
}

.input-standard:focus {
  border-color: var(--light-blue);
  outline: none;
  box-shadow: 0 0 5px var(--light-blue);
}

.input-standard::placeholder {
  color: #bdbdbd;
}

.checkbox-standard {
  appearance: none;
  width: 18px;
  height: 18px;
  background-color: white;
  border: 2px solid #555;
  border-radius: 3px;
  transition: background-color 0.2s ease;
}

.checkbox-standard:checked::after {
  content: "✔";
  color: #555;
  font-size: 22px;
  display: block;
  text-align: center;
  margin-top: -12px;
}
